body{

margin:0;

background:#ffffff;

font-family:sans-serif;

}


.card{

padding:35px;

text-align:center;

}


.logo{

font-size:12px;

letter-spacing:5px;

opacity:0.5;

}


#title{

margin-top:30px;

font-size:24px;

font-weight:bold;

line-height:1.5;

}


#author{

margin-top:20px;

font-size:14px;

opacity:0.6;

}
