body {

margin:0;

font-family:
-apple-system,
BlinkMacSystemFont,
"Helvetica Neue",
Arial,
sans-serif;

background:white;

}


.vibes-card {


padding:25px;

border-radius:18px;

text-align:center;

}


.label {


font-size:12px;

letter-spacing:5px;

font-weight:bold;

background:
linear-gradient(
90deg,
#D96B6B,
#E6C875,
#68B984
);

-webkit-background-clip:text;

color:transparent;

margin-bottom:20px;


}


.message {


font-size:22px;

line-height:1.8;

font-weight:600;

}


.author {


margin-top:20px;

font-size:14px;

opacity:0.7;

}


.source {


margin-top:12px;

font-size:13px;

opacity:0.6;

}
